문제 1
- 숫자를 하나 입력받아, 그 숫자가 5보다 큰지 확인하는 프로그램을 작성해보세요.

문제 2
- "안녕하세요!"를 5번 출력하는 프로그램을 작성해보세요.

문제3
- 1부터 10까지의 숫자 중에서, 짝수만 출력하는 프로그램을 작성해보세요.

문제4
- 1부터 20까지의 숫자 중, 3의 배수만 출력하는 프로그램을 작성하세요.

문제5
- 구구단 2단부터 9단까지 출력하는 프로그램을 작성하세요.

In [2]:
#문제 1번
number = int(input("숫자를 입력해주세요: "))
if number > 5:
    print("입력하신 숫자가 5보다 큽니다.")
else:
    print("입력하신 숫자가 5보다 작습니다.")

숫자를 입력해주세요: 4
입력하신 숫자가 5보다 작습니다.

In [3]:
#문제 2번
for i in range(5):
    print("안녕하세요!")

안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!

In [5]:
#문제3번
for i in range(1,11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [6]:
#문제4번
for i in range(1,21):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18

In [8]:
#문제5번
for i in range(2,10):
    print(f"--------{i}단--------")
    for j in range(1,10):
        print(f"{i} * {j} = {i * j}")

--------2단--------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
--------3단--------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--------4단--------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
--------5단--------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
--------6단--------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
--------7단--------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
--------8단--------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
--------9단--------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81