# 1. for문

for문은 특정 범위나 순서열(ex 리스트, 문자열 등)을 순회하며 순서열의 끝에 도달하면 반복을 멈추게 됩니다. 또한 객체를 처음부터 끝까지 하나씩 **추출하며 순회**하기 때문에 다양한 방식으로 활용될 수 있습니다.

## 1.1. for문의 기본구조

시퀀스 자료형 자료 또는 반복 가능한 자료형을 아래와 같이 순회 돌 수 있습니다.

In [ ]:
for 변수명 in 순회_가능한_객체 :
    pass # 수행할_문장

In [ ]:
#1. 'helllo'를 순서대로 하나씩 단어를 꺼내서
#2. x에 하나씩 넣은 다음에
#3. 하니씩 for문 아래 코드블럭을 수행ㅎ나다.
#4. 그리고 순서가 마쳐지면 > 다음 시퀀스(순서)로 똑같은 작업을 수행한다.

# 시퀀스 자료형에 대표적인 문자열을 순회하는 방법

for x in 'hello': # 순회 가능한 객체가 들어갑니다. (문자열 / 리스트 / 다른 데이터셋 / range() / 기타등등)
    print(f'현재 값은 {x} 입니다.')

현재 값은 h 입니다.
현재 값은 e 입니다.
현재 값은 l 입니다.
현재 값은 l 입니다.
현재 값은 o 입니다.

In [ ]:
# 시퀀스형 자료형인 튜플을 반복하고 있습니다
for x in (1, 2, 3, 4, 5):
    print(f'현재 값은 {x} 입니다.')

현재 값은 1 입니다.
현재 값은 2 입니다.
현재 값은 3 입니다.
현재 값은 4 입니다.
현재 값은 5 입니다.

In [ ]:
# 시퀀스형 자료형인 리스트을 반복하고 있습니다
for x in [1, 2, 3, 4, 5]:
    print(f'현재 값은 {x} 입니다.')

현재 값은 1 입니다.
현재 값은 2 입니다.
현재 값은 3 입니다.
현재 값은 4 입니다.
현재 값은 5 입니다.

In [ ]:
# 시퀀스형 자료형인 range 반복하고 있습니다
for x in range(1,10,2):
    print(f'현재 값은 {x} 입니다.')

현재 값은 1 입니다.
현재 값은 3 입니다.
현재 값은 5 입니다.
현재 값은 7 입니다.
현재 값은 9 입니다.

## 1.2. **문자열(str) 자료형을 범위로 지정한 예시**

문자열 s를 순회하면서 각 문자를 i 변수에 할당하여 문자를 출력합니다.

In [ ]:
s = 'hello world'
for i in s:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [ ]:
# 문자열에서 숫자를 모두 더하는 예제
s = '123'
result = 0
for i in s:
    result += int(i)
print(result)

6

## 1.3. **리스트(list) 자료형을 범위로 지정한 예시**

리스트의 각 요소를 순회하면서 출력합니다.

In [ ]:
l = ['one', 'two', 'three']
for i in l:
    print(i)

one
two
three

## 1.4. **사전(dict) 자료형을 범위로 지정한 예시**

for 문을 이용하여 dict 자료형을 순회하면 key(키)만을 가져오게 됩니다.

In [ ]:
단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for i in 단어_사전:
    print(i)            # value 값이 아닌 key값이 나온다.

하나
둘
셋

key(키)에 해당하는 value(값) 또한 가져오고 싶다면 아래와 같이 튜플 언패킹을 사용할 수 있습니다.

In [ ]:
for key, value in 단어_사전.items():
    print(f'{key} : {value}')

하나 : one
둘 : two
셋 : three

In [ ]:
for i in 단어_사전:
    print(i, ':', 단어_사전[i])

하나 : one
둘 : two
셋 : three

## 1.5. range를 **범위로 지정한 예시**

for문에서 가장 많이 사용되는 range에 대해 알아봅시다. range는 앞 챕터 built-in function에서 다뤄봤습니다. `range(시작_값, 종료_값, 연속하는_두_수의_차)`형식입니다.

가장 많이 사용되는 형태는 range(n)의 형태입니다.

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

아래코드는 0이상, 10이하 짝수만 더하는 코드입니다. 10이하이기 때문에 range의 종료값이 11이어야 합니다. 종료값-1 까지 값을 생성하기 때문입니다.

In [ ]:
result = 0
for i in range(0, 11, 2):
    result += i
result # 결과: 30

30

In [ ]:
# 아래 코드는 1부터 100까지 더하는 코드입니다.
result = 0
for i in range(101):
    result += i
result
#이러한 코드는 아래 코드보다 성능이 떨어집니다.
#위 코드는 100번 순회를 돌아야 하는데 아래 코드는 한 번만 수행하면 되기 때문입니다.

5050

In [ ]:
n = 100
result = (n + 1) * n / 2
result

5050.0

In [ ]:
# 이번에는 짝수 코드를 작성하는 것을 한 번 보도록 하겠습니다. 이 코드는 0부터 100까지 짝수를 더하는 코드입니다.
#100번 순회를 돌고, if문도 확인해야 합니다.
result = 0
for i in range(101): # 0~100까지 시퀀스 자료형을 불러온다.
    if i % 2 == 0:   # 나머지가 0인 것을 추출해서
        result += i  # i에 더한다.     0, 2, 4, 6...100
result

2550

In [ ]:
# 위 코드보다 효율적
result = 0
for i in range(0, 101, 2):
    result += i
result

2550

# 2. 중첩 for문

다중 리스트 예제를 다시 한 번 보도록 하겠습니다. 이번에는 언패킹을 하지 않고 하나의 변수에서 확인을 하였습니다.

In [ ]:
# code1
for i in [[1, 2], [10, 20], [100, 200]]:
    print(i)

[1, 2]
[10, 20]
[100, 200]

In [ ]:
# code2
for j in [1, 2]:
    print(j)

1
2

In [ ]:
# 첫번째 반복에서 내부 리스트를 출력하고 두번째 반복에서 출력한 내부리스트의 요소를 출력합니다
# code1 + code2
for i in [[1, 2], [10, 20], [100, 200]]:
    for j in i:
        print(i)
        print(j)

[1, 2]
1
[1, 2]
2
[10, 20]
10
[10, 20]
20
[100, 200]
100
[100, 200]
200

In [ ]:
# 구구단
for i in range(2, 10):   #2~9단을 만들기 위해 범위를 설정
    print(f'---{i}단---')  # 몇단인지에 따른 표시를 해준다.
    for j in range(1, 10):  # 2~9단이 설정되고 그 안의 1~9까지의 곱셈의 범위를 잡아줌
        print(f'{i} X {j} = {i * j}') # i * j를 통해 1~9 구구단 완성

---2단---
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
---3단---
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
---4단---
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
---5단---
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
---6단---
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
---7단---
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
---8단---
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
---9단---
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# 3. 컴프리헨션(comprehension)

## 3.1. 리스트 컴프리헨션(list comprehension)

### 3.1.1. 리스트 컴프리헨션 기본 사용법

리스트 컴프리헨션(list comprehension)은 파이썬에서 간결하게 리스트를 생성하는 기능으로, 반복문과 조건문을 결합하여 리스트를 생성합니다.

In [ ]:
x = []

for i in range(1, 10):
  x.append(i)

print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

기본적인 형태
- [추가할변수_또는_표현식 for 변수 in 특정범위]

In [ ]:
# 리스트 컴프리헨션
# step1 list안에 for문을 가져옵니다.
#[i for i in range(1, 10)]  # for문 시작하는 조건을 가져오고 리스트로 묶는다.

# step2 append 항목을 앞으로 가져옵니다. - 여깃 i > 자동으로 append
a = [i for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = [i*2 for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a,b)

[1, 2, 3, 4, 5, 6, 7, 8, 9] [2, 4, 6, 8, 10, 12, 14, 16, 18]

### 3.1.2. 컴프리헨션 내 조건문 사용법

컴프리헨션 내 아래와 같이 if문을 넣을 수도 있습니다.

결과가 같지만 형태가 다른 코드들

In [ ]:
l = [i for i in range(1, 100) if i % 3 == 0 or i % 5 == 0]
print(l)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]

In [ ]:
l = []
for i in range(1, 100):
    if i % 3 == 0 or i % 5 == 0:
        l.append(i)
print(l)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]

In [ ]:
nums = [1, 2, 3, 4, 5]
result = [f'{x}는 3보다 큰 짝수' if x % 2 == 0 else f'{x}는 3보다 큰 홀수' for x in nums if x > 3]
print(result) # 출력: ['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

In [ ]:
result = []
nums = [1, 2, 3, 4, 5]
for x in nums:
    if x > 3:
        if x % 2 == 0:
            result.append(f'{x}는 3보다 큰 짝수')
        else:
            result.append(f'{x}는 3보다 큰 홀수')
print(result)

['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

In [ ]:
nums = [1, 2, 3, 4, 5, 6]
result = [x for x in nums if x % 2 == 0 if x % 3 == 0]
result # 출력: [6]

[6]

In [ ]:
nums = [1, 2, 3, 4, 5, 6]
result = [x for x in nums if x % 2 == 0 and x % 3 == 0]
result # 출력: [6]

[6]

### 3.1.3. 중첩된 반복문과 중첩된 컴프리헨션

컴프리헨션은 중첩된 반복문을 사용할 수 있으며 컴프리헨션 내에서도 컴프리헨션 중첩이 가능합니다. 일반적인 for문 방식과 비교하여 리스트 컴프리헨션의 간결함을 확인할 수 있습니다.

In [ ]:
# 리스트 컴프리헨션: 중첩된 반복문
# 구구단
c = [f'{i} × {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]

# 리스트 컴프리헨션: 중첩된 컴프리헨션
cc = [[f'{i} × {j} = {i*j}' for j in range(1, 10)] for i in range(2, 10)]

# 전통적인 방법
c_list = []
for i in range(2, 10):
    for j in range(1, 10):
        c_list.append(f'{i} × {j} = {i*j}')

다만 이러한 컴프리헨션 문법의 중첩은 코드의 가독성을 떨어트리므로 주의해 사용해주세요. 보통 회사 컨벤션(회사의 코딩 규칙)에서는 3개 이상의 컴프리헨션 중첩을 하지 않기를 권합니다.

### 3.1.4. 컴프리헨션 내 함수 사용하기

기존 리스트를 순회하며 요소들을 함수의 인수에 넣어 함수의 return 값을 새로운 리스트에 저장하실 수 있습니다.

In [ ]:
def sumthingFunction(i):       # 함수 sumthingFunction(i)을 생성
    if i % 100 ==0:            # 조건문 100으로 나눴을때 나머지가 0이 되는것
        return i               # 조건에 일치하면 i를 리턴 일치하지 않으면 0을 리턴하는데,
    else:
        return 0               # 남는 것들은 0으로

l = [100, 200, 300, 101, 202, 303]
l = [sumthingFunction(i) for i in l] # 리스트에 있는 값들을 하나씩 꺼내서, 함수에 태워보고, 조건에 맞는것만 출력
l # 출력: [100, 200, 300, 0, 0, 0]
print(l)

[100, 200, 300, 0, 0, 0]

In [ ]:
l = [100, 200, 300, 101, 202, 303]
l2 = [(lambda x : x * x)(x) for x in l]
print(l2)

[10000, 40000, 90000, 10201, 40804, 91809]

## 3.2. 딕셔너리 컴프리헨션

컴프리헨션은 리스트 컴프리헨션, 딕셔너리 컴프리헨션, 세트 컴프리헨션, 그리고 제너레이터 컴프리헨션이 있습니다. 여기서 딕셔너리 컴프리헨션은 그 형태가 조금 다르므로 여기서 다뤄보고 가도록 하겠습니다.

In [ ]:
# 전통적인 방법
d = {}
for i in range(5):
    d[i] = i**2

# 딕셔너리 컴프리헨션 사용
dd = {i: i**2 for i in range(5)}   # key : value
print(dd)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

딕셔너리 컴프리헨션의 기본 구조는 `중괄호({})` 내부에 `for문`과 필요한 조건문을 넣어주며, 그 앞에는 딕셔너리의 `키`와 `값`이 콜론(`:`)으로 구분되어 위치합니다.

아래와 같이 if를 사용할 수도 있습니다.

# 4. 복합 자료형 순회

앞에서 다뤘던 것처럼 반복되는 값이 같은 구조를 가지고 있다면 언패킹하여 한꺼번에 받아 순회할 수 있습니다. 순회 할 수 있는 객체를 변수에 하나씩 할당하는 것을 언패킹이라 하였습니다. 이번에는 리스트 안에 리스트가 아니라 리스트 안에 문자열, 리스트 안에 튜플 등 다양한 복합 자료형이 중첩되어 있을 때 어떻게 언패킹하여 순회를 하는지 다뤄보도록 하겠습니다.

In [ ]:
for i, j, k in ['abc', 'def', 'ghi']:
    print(i, j, k)

a b c
d e f
g h i

리스트 안에 문자열이 들어가 있으면 해당 자료형도 언패킹이 가능합니다. 문자열은 순회 할 수 있는 객체이기 때문입니다. 따라서 처음 순회가 될 ‘abc’가 준비되었을 때 전체를 받을 변수 하나가 있다면 하나의 변수에 할당이 되며, ‘a’, ‘b’, ‘c’ 각각의 값을 받을 변수가 모두 준비되어 있다면 이를 각각의 변수에 할당합니다.

In [ ]:
skill = [
        ('고기잡이', 100),
        ('고기팔기', 120),
        ('낚시', 5),
        ('통발', 5),
        ('큰그물', 5)
]

for i, j in skill:
    print(i, j)

고기잡이 100
고기팔기 120
낚시 5
통발 5
큰그물 5

튜플 내의 요소가 3개인 경우에도 각각의 요소를 가져와서 출력하실 수 있습니다.

In [ ]:
# 하나만 리스트여도 쌍이면 상관없이 잘 돌아감
skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for skillName, skillLevel, skillGrade in skill:
    print(skillName, skillLevel, skillGrade)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 5 C
큰그물 5 C

# 5. enumerate를 사용한 순회

enumerate는 순서를 매길 때 사용합니다. enumerate는 별도의 변수를 선언하지 않고 이것이 가능하게 해줍니다.

In [ ]:
enumerate(순회 가능한 객체, 인덱스의 시작값)

In [ ]:
# enumerate에 인덱스의 시작값을 지정하지 않으면 기본값 0부터 시작하는 것을 볼 수 있습니다.
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)

for i, j in enumerate(영화누적관객수, 1):  # enumerate 1부터 시작
    print(f'누적관객수 {i}위! {j}!')

(0, '레미제라블')
(1, '뷰티인사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')
누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

In [ ]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i, j in enumerate(영화누적관객수, 100):
    print(f'누적관객수 {i}위! {j}!')   # i에는 index값 j에는 영화 제목!,

누적관객수 100위! 레미제라블!
누적관객수 101위! 뷰티인사이트!
누적관객수 102위! 매트릭스!
누적관객수 103위! 인셉션!
누적관객수 104위! 어거스트 러쉬!

# 1. while문

이번에는 for문과 함께 많이 사용되는 구문인 while 문을 살펴보도록 합시다. while문은 조건이 참인 동안에 명령을 반복해서 수행합니다. 반복할 명령은 들여쓰기로 구분되며 조건이 거짓이면 들여쓰기로 구분되어 있는 반복 구문을 탈출합니다.

## 1.1. while문의 기본 구조

In [ ]:
while 구문:
    pass # 수행할 문장

In [ ]:
# while문 기초
a = 1

while a < 10 :  # 조건이 만족할때 까지
	print(a)
	a += 1

# for 문 기초
for i in range(1,10):   # 범위가 끝날때 까지
    print(i)

1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9

# 프로그램 1. 스무고개 숫자맞추기

## 1.1 숫자를 입력 받기
* input을 활용해서 숫자를 입력 받으세요!
* 20번안에 숫자를 맞춰야하는 게임

In [ ]:
# 우리가 입력할 값
number = int(input("숫자를 입력하세요(1~100까지): "))

숫자를 입력하세요(1~100100까지): 100

In [ ]:
print(number)
print(type(number))

100
<class 'int'>

In [ ]:
# 우리가 맞춰야할 숫자
import random
secret_number = random.randrange(1,101)

In [ ]:
# 정답을 위한 Step 1
# if문을 사용해서 같으면 정답 틀리면 틀렸습니다. 라고 출력해보기!
if number == secret_number:
    print("정답입니다.")
else:
    print("틀렸습니다.")
# 계속 틀리다가 맞추면 정답! 출력하지만 못맞추면 20번 반복
# step 3. 왜 틀렸는데? Up/Down 힌트를 주면 좋을 것 같다.

정답입니다.

In [ ]:
import random

# 우리가 입력할 값
secret_number = random.randrange(1,101)   # 고정값!

# 우리가 입력할 값
for i in range(1,21):    # step 1. 반복할 값을 지정한다.
    number = int(input("숫자를 입력하세요(1~100까지): "))  # step 2. input을 지정한다.

    if number == secret_number:
        print("정답입니다.")
        break
    elif secret_number < number :
        print("Down입니다.")
    else:
        print("Up입니다.")

숫자를 입력하세요(1~100까지): 50
Down입니다.
숫자를 입력하세요(1~100까지): 25
Down입니다.
숫자를 입력하세요(1~100까지): 13
Down입니다.
숫자를 입력하세요(1~100까지): 11
Down입니다.
숫자를 입력하세요(1~100까지): 5
Up입니다.
숫자를 입력하세요(1~100까지): 8
Down입니다.
숫자를 입력하세요(1~100까지): 9
Down입니다.
숫자를 입력하세요(1~100까지): 7
Down입니다.
숫자를 입력하세요(1~100까지): 6
정답입니다.

# 프로그램 2: 가위바위보

In [ ]:
# step 1 : 우리가 낼 가위, 바위, 보를 입력 받는다.
# step 2 : 컴퓨터가 낼 가위, 바위, 보를 입력 받는다.
# step 3 : 승패요건
# step 4 : 가위,바위,보 외에 다른거를 냈을떄 어떻게 해야하는지? /종료하고 싶은지 물어보는 것도 추가!

In [ ]:
import random

while True:
    user_choice = input("가위, 바위, 보 중 하나를 선택하세요 (끝내려면 '끝' 입력): ").strip().lower()

    # 사용자가 끝내기를 선택한 경우
    if user_choice == '끝':
        print("게임을 종료합니다.")
        break

    # 사용자가 가위, 바위, 보 이외의 값을 선택한 경우
    if user_choice not in ['가위', '바위', '보']:
        print("가위, 바위, 보 중에서 선택해주세요.")
        continue

    # 컴퓨터의 선택 - 랜덤하게 가위, 바위, 보 중 선택

    choices = ['가위', '바위', '보']
    computer_choice = random.choice(choices)

    # 사용자와 컴퓨터의 선택 출력
    print(f"사용자: {user_choice}, 컴퓨터: {computer_choice}")

    # 승부 판단
    if user_choice == computer_choice:
        print("무승부!")
    elif (user_choice == '가위' and computer_choice == '보') or \
         (user_choice == '바위' and computer_choice == '가위') or \
         (user_choice == '보' and computer_choice == '바위'):
        print("사용자 승리!")
    else:
        print("컴퓨터 승리!")

가위, 바위, 보 중에서 선택해주세요.
사용자: 보, 컴퓨터: 보
무승부!