#1. 문자열

In [ ]:
# 1.1 문자열 기초

x = 'hello'
y = "python"
print(x,y)

hello python

In [ ]:
print(type(x),type(y))

<class 'str'> <class 'str'>

In [ ]:
# '''''' 긴문장을 주석처리 할 때 활용해야 한줄에 안써지고 깔끔하게 써진다.
i = '''
안녕하세요. 저는 졸업을 앞두고 있는 진성현입니다.
파이썬을 열심히 배워서 잘하고 싶습니다.
'''

j = '''
안녕하세요. 저는 졸업을 앞두고 있는 진성현입니다.
파이썬을 열심히 배워서 잘하고 싶습니다.
'''

In [ ]:
i

'\n안녕하세요. 저는 졸업을 앞두고 있는 진성현입니다.\n파이썬을 열심히 배워서 잘하고 싶습니다.\n'

In [ ]:
print(i)

안녕하세요. 저는 졸업을 앞두고 있는 진성현입니다.
파이썬을 열심히 배워서 잘하고 싶습니다.

In [ ]:
# 1.2 문자열 덧셈, 곱셈

# 문자열의 덧셈

x = 'hello'
y = 'world'
print(x + y) # 출력 : helloworld

x = '10'
y = '20'
print(x + y)

# 문자열의 곱셈

print(x * 100)

helloworld
1020
10101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010

In [ ]:
# 1.3 문자열의 인덱싱
     #012 3 456
s = '위니브 월드!'
print(s[0])   # 출력 : '위'
print(s[-1])  # 출력 :  '!'

위
!

In [ ]:
# 1.4 문자열 슬라이싱

s = '위니브 월드 외각'

print(s[0:6])
print(s[2:])

print(s[0:9:2]) # 끝까지 가져오는데 2개씩 띄어서 가져오겠다.

위니브 월드
브 월드 외각
위브월 각

In [ ]:
s = 'weniv CEO licat'
print(s[6:]) # 출력 : CEO licat           원하는 지점부터 전부 출력
print(s[:]) # 출력 : weniv CEO licat      전부 출력
print(s[::-1]) # 출력 : tacil OEC vinew   전부 출력인데 반대로
print(s[::2]) # 출력 : wnvCOlct           전부 출력인데 2개씩 띄어서

CEO licat
weniv CEO licat
tacil OEC vinew
wnvCOlct

In [ ]:
# 1.4.1 슬라이스 실습
s = 'weniv_licat.png'
# 출력 weniv_licat 만 나오게

print(s[:11])
print(s[:-4])

weniv_licat
weniv_licat

In [ ]:
# 1.4.2 슬라이스 실습
s = 'weniv_licat.png'
#1. 출력 weniv_licat.png 만 나오게
#2. 출력 png만 나오게

print(s[:11])

print(s[12:])
print(s[-3:])

weniv_licat
png
png

In [ ]:
# 1.5 슬라이스 복사 - 다만 ID가 달라짐
s =[1, 2, 3]
ss =s[:]

print(s, ss)
print(id(s), id(ss))

[1, 2, 3] [1, 2, 3]
137673146026496 137673144804160

In [ ]:
s.lower() # 전체를 소문자로 바꿔주는 method
# 1.6 메서드 1: 대문자(upper) 소문자()

s = 'wenive CEO licat'
s.lower() # 전체를 소문자로 바꿔주는 method

'wenive ceo licat'

In [ ]:
s.upper() # 전체를 대문자로 바꿔주는 method

'WENIVE CEO LICAT'

In [ ]:
# 1.7 메서드 2: find index

s = 'weniv CEO licat'
s.find('CEO') #문자열을 찾아주는 method    6번쨰 부터 시작하는글 알려준다.

6

In [ ]:
s.index('CEO') # 문자열을 찾아주는 method

6

In [ ]:
s.find('CTO')  # find 없으면 -1 로 알려줌

-1

In [ ]:
s.index('CTO')  #index 단어가 없기에 오류로 알려줌

ValueError: ignored

In [ ]:
# 1.8 메서드 3 : count()

s = 'weniv CEO licat'
s.count('i') #문자열이나 숫자를 셀 때 사용

# 공백
# 대문자/소문자 구분
# 일치만하면 다 찾아줌

2

In [ ]:
# 1.9 메서드 4: strip / excel - trim()
# strip 함수를 너무 신뢰하지 말자! - 가끔 공백이 남는 경우가 있다.
s = '    weniv CEO licat     '
s.strip() #양쪽 공백을 제거하는 method

'weniv CEO licat'

In [ ]:
'    ,!!  hello world   '.strip(' ,!')
#양쪽의 공백과 ',!'을 제거해주는 method

'hello world'

In [ ]:
# 1.10 메서드 5 : replace()

s = 'weniv CEO licat'
s.replace('CEO', 'CTO') #원하는 문자열을 다른 문자열로 대체할 때 사용하는 method

# replace(바꿀려는단어,바꾸고자하는단어)
# 대소문자 구분 정확히 작성하자

'weniv CTO licat'

In [ ]:
s = 'weniv CEO licat'
s.replace('i', 'I')

'wenIv CEO lIcat'

In [ ]:
# 수정된 문자열은 원본에는 반영되지 않음

s = 'weniv CEO licat'
ss = s.replace('i', 'I')
ss, s # 출력: ('weniv CEO licat', 'wenIv CEO lIcat')

('wenIv CEO lIcat', 'weniv CEO licat')

In [ ]:
# 1.11 메서드 6 : split()
# split은 리스트 형태로 결과가 나오게 된다.

s = 'weniv CEO licat'
s.split() #공백을 기준으로 문자열 나누기(리스트로 반환)

['weniv', 'CEO', 'licat']

In [ ]:
s = 'weniv-CEO-licat'
s.split('-') #-을 기준으로 문자열 나누기

['weniv', 'CEO', 'licat']

In [ ]:
# 1.12 메서드 7 : join()

s = ['weniv', 'CEO', 'licat']
'-'.join(s) #리스트를 하나의 문자열로 합치기

'weniv-CEO-licat'

In [ ]:
s = '010 1000 1000'
'-'.join(s.split()) #공백을 기준으로 문자열을 나눈 후 '-'로 합치기

'010-1000-1000'

In [ ]:
s = '010 1000 1000'
'-'.join(s) # split 안해주면 다 분리로 본다.

'0-1-0- -1-0-0-0- -1-0-0-0'

In [ ]:
# 1.13 메서드 8 : format()

name = 'licat'
age = 29

print('제 이름은 {}이고, 나이는 {}살입니다.'.format(name, age))

제 이름은 licat이고, 나이는 29살입니다.

In [ ]:
name = 'weniv'
age = 29

print('제 이름은 {1}이고, 나이는 {0}살입니다.'.format(age, name))
print('제 이름은 {0}이고, 나이는 {0}살입니다.'.format(age, name))

제 이름은 weniv이고, 나이는 29살입니다.
제 이름은 29이고, 나이는 29살입니다.

In [ ]:
# 요즘은 이렇게 훨씬 많이 쓴다.

print(f'제 이름은 {name}이고, 나이는 {age}입니다.')

제 이름은 weniv이고, 나이는 29입니다.

In [ ]:
# 1.14 메서드 9 : isdigit() / isalpha()
# 문자열에 숫자만 있으면 True

s = '123'
s.isdigit()

True

In [ ]:
# isalpha 문자만 있으면 True

print('abcd1234'.isalpha()) # 출력: False
print('안녕하세요'.isalpha()) # 출력: True
print('こんにちは'.isalpha()) # 출력: True
print('你好'.isalpha()) # 출력: True

False
True
True
True

In [ ]:
# 1.15 메서드 10 : rjust() / ljust() / center()

s = 'licat'
s.rjust(10, '-') #문자열을 지정한 길이로 맞추고, 왼쪽을 '-'로 채우는 method

'-----licat'

In [ ]:
s = 'licat'
s.ljust(10, '-') #문자열을 지정한 길이로 맞추고, 오른쪽을 '-'로 채우는 method

'licat-----'

In [ ]:
# 간단한 주민번호 만들어보기

s = '990831-1'
s.ljust(14, '*')

'990831-1******'

In [ ]:
s = 'licat'
s.center(11, '-') #문자열을 지정한 길이로 맞추고, 양쪽을 '-'로 채우는 method

'---licat---'

In [ ]:
s = 'licat'
s.center(3, '-') # 지정길이가 문자열보다 작으면 문자열 그대로 출력

'licat'

In [ ]:
# 1.16 메서드 11 : zfill()
# 파일명의 길이를 동일하게 유지하기 좋다.

x = "42"
result = x.zfill(5)   # 변수의 자릿수를 설정하고 앞쪽에서 부터 0을채움
print(result)  # 00042

00042

In [ ]:
y = "-42"
result = y.zfill(5)
print(result)  # -0042

-0042

In [ ]:
z = "abc"
result = z.zfill(5)
print(result)  # 00abc

00abc

In [ ]:
# 동일 길이로 파일 저장하기

filename = '1'.zfill(3) + ".jpg"
print(filename)

001.jpg

In [ ]:
년 = '23'
월 = '9'
일 = '8'
오늘날짜 = 년 + 월 + 일
print(오늘날짜)
오늘날짜 = 년 + 월.zfill(2) + 일.zfill(2)
print(오늘날짜)

2398
230908

In [ ]:
# 1.17 메서드 12 : maketrans() / translate()

# 변환 테이블 생성
table = str.maketrans("abc", "123") #  'a'는 '1'로, 'b'는 '2'로, 'c'는 '3'로 변환하겠다는 뜻입니다.

text = "abcde"
result = text.translate(table)
print(result)  # 123de

123de

In [ ]:
# 'd'와 'e' 문자 제거하기

table = str.maketrans('', '', 'de')
text = "abcde"
result = text.translate(table)
print(result)  # abc

abc

In [ ]:
table = str.maketrans('\n\t', '  ') # 똑같은 길이를 가지고 있어야 함
'weniv \n\n\n CEO \t\t\t licat'.translate(table)

'weniv     CEO     licat'

In [ ]:
# 2 문자열 포매팅

name = 'licat'
age = 10

print('제 이름은 %s, 제 나이는 %d입니다. ' % (name, age))
# 출력: 제 이름은 licat, 제 나이는 10입니다.

제 이름은 licat, 제 나이는 10입니다.

- **`%s`**: 문자열
- **`%d`**: 정수
- **`%f`**: 부동 소수점 숫자

In [ ]:
# 2.1 메서드  13 : format

s = 'My name is {}'.format('licat')
print(s) # My name is licat

My name is licat

In [ ]:
# 2.2 메서드 14 : f-string

name = 'licat'
s = f'My name is {name}'
print(s) # My name is licat

My name is licat

In [ ]:
# 꼬이는 부분이 생길 수 있다. 동시에 많이 수정은 자제하자

name = 'licat'
age = 29
s = f'{name[2:]}, {age+10}!'
print(s) # licat, 39!

cat, 39!

# 3. **주요 이스케이프 문자들**

- `\n`: 새로운 줄(줄바꿈)을 나타냅니다.
- `\t`: 탭 문자를 나타냅니다.
- `\r`: 커서를 현재 줄의 처음으로 이동합니다.
- `\"`: 큰따옴표를 나타냅니다.
- `\'`: 작은따옴표를 나타냅니다.
- `\\`: 백슬래시를 나타냅니다.

In [ ]:
print("Hello\nWorld!") # Hello와 World! 사이에 줄바꿈이 일어납니다.
print("Hello\tWorld!") # Hello와 World! 사이에 탭 간격이 생깁니다.
print("She said, \"Hello World!\"") # 큰따옴표 내부에 문자열을 출력합니다.
print('She said, \'Hello World!\'') # 작은따옴표 내부에 문자열을 출력합니다.
print("Backslash: \\") # 백슬래시를 출력합니다.

Hello
World!
Hello	World!
She said, "Hello World!"
She said, 'Hello World!'
Backslash: \

# 4. 논리형(bool)

In [ ]:
x = True
y = False
z = 10 > 3
print(x, y, z)

True False True

In [ ]:
# 아래와 같이 True와 False는 각각 1과 0으로 취급됩니다.
# 다른 숫자를 넣으면 False가 출력됩니다. ==는 값이 같은지를 체크하는 비교 연산
print(True == 1) # 출력: True
print(False == 0) # 출력: True

True
True

In [ ]:
# bool 타입은 연산이 가능하다.

print(True + True) # 출력: 2
print(False - True) # 출력: -1
print(True / True) # 출력: 1.0
print(True * False) # 출력: 0

2
-1
1.0
0

In [ ]:
print(True / False) # error   0으로 1 못 나눈다.

# 5. None 자료형

In [ ]:
# print 챕터에서 언급된 것 처럼
# None은 print가 아닌 마지막 줄 출력인 경우 출력이 되지 않습니다.
양말상자 = None

In [ ]:
dir(None)  # 매직메서드, 메서드확인

['__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [ ]:
# None의 값은 항상 유일

x = None
y = None
print(id(x), id(y))

100157443888096 100157443888096

In [ ]:
x = None

print(x == None)    # True, 하지만 이 방식은 권장되지 않습니다.
print(x is None)    # True, 이 방식을 사용하여 None을 확인하는 것이 좋습니다.

True
True

In [ ]:
# 에러가 날 수밖에 없다. split 에 의해 분리된 것이 전체가 문자열이 아닌 나누어진 3개이기 떄문

'010-1000-2000'.split('-').replace('0', 'x')

AttributeError: ignored

In [ ]:
'010-1000-2000'.split('-')

['010', '1000', '2000']

# 6. 형 변환

In [ ]:
# 1. 형변환 기본 예제

# 잘못된 수행
월급 = input("월급을 입력하세요:")
연봉 = 월급 * 12
print(연봉)

월급을 입력하세요:100000000
100000000100000000100000000100000000100000000100000000100000000100000000100000000100000000100000000100000000

In [ ]:
# 제대로 수행
월급 = input("월급을 입력하세요:")  # int 로 감싸거나 밑에 월급에서 int 로 타입 바꾸어준다.
연봉 = int(월급) * 12
print(연봉)

월급을 입력하세요:10000000
120000000

# 6.1 형변환 정리

주요한 형변환 메서드는 아래와 같습니다.

| Built-in Function | 기능 |
| --- | --- |
| int() | 정수로 변환 |
| str() | 문자열로 변환 |
| float() | 실수로 변환 |
| list() | 리스트로 변환 |
| tuple() | 튜플로 변환 |
| dict() | 딕셔너리로 변환 |
| set() | 셋으로 변환 |

In [ ]:
# 6.2 str → int로 변환
num = '123'
print(type(num))

num = int(num)
print(type(num))

<class 'str'>
<class 'int'>

In [ ]:
# 문자열을 숫자로 바꾸는건 불가능
s = 'hello'
print(type(s))

s = int(s) # error
print(type(s))

<class 'str'>

ValueError: ignored

In [ ]:
# 6.3 float → int로 변환
f = 3.14159
number = int(f)
print(number)  # 출력: 3  소수점 아래의 값이 버려집니다.

3

In [ ]:
# 6.4 bool → int로 형변환
true_int = int(True)
false_int = int(False)

print(true_int)  # 출력: 1
print(false_int)  # 출력: 0

1
0

In [ ]:
# 6.5 None은 int형으로 형변환 하면 0이라고
# 오해하는 분들이 많으신데 None은 int형으로 변환이 가능하지 않습니다.
print(int(None))

# 7. string으로 형변환

In [ ]:
 # int와 float → str으로 변환

n = 123
print(type(n))
print(n)

m = 123.4
print(type(n))
print(m)

n = str(n)
print(type(n))
print(n)

m = str(m)
print(type(m))
print(m)

#  float형은 str으로 변환했다가
# int형으로 변환했을 경우 error가 발생되게 됩니다. 닷(.)을 자동으로 인식해주지 않습니다.

<class 'int'>
123
<class 'int'>
123.4
<class 'str'>
123
<class 'str'>
123.4

# 8. bool형으로 형변환

In [ ]:
# 파이썬에서는 빈 문자열, 빈 리스트, 0, None 등이 False로 평가

print("bool('test'):", bool('test'))
print("bool(' '):", bool(' '))
print("bool(''):", bool(''))
print("bool(100):", bool(100))
print("bool(1):", bool(1))
print("bool(0):", bool(0))
print("bool(-1):", bool(-1))
print("bool(None):", bool(None))
print("bool([]):", bool([]))
print("bool(tuple()):", bool(tuple()))
print("bool({}):", bool({}))
print("bool(set()):", bool(set()))

# 빈 자료형에 경우에는 False로 평가된다는 점을 기억해주세요.
# 앞으로도 많이 사용합니다. 2번째 예시인 ' '는 안에 공백이 존재하기 때문에 빈 자료형이 아닙니다.

bool('test'): True
bool(' '): True
bool(''): False
bool(100): True
bool(1): True
bool(0): False
bool(-1): True
bool(None): False
bool([]): False
bool(tuple()): False
bool({}): False
bool(set()): False

In [ ]:
# 8.1 일반 float 형변환
s = 10
print(float(s))

s = '10'
print(float(s))

s = '3.14'
print(float(s))

10.0
10.0
3.14

In [ ]:
# 8.2 특수 float 형변환
infinity = float('inf')
neg_infinity = float('-inf')
not_a_number = float('nan')

print(infinity)
print(neg_infinity)
print(not_a_number)

inf
-inf
nan

In [ ]:
# 8.3  묵시적 형변환
# 다음과 같이 정수와 실수의 나눗셈 같은 경우 항상 float를 반환합니다.
10 / 1 # 출력: 10.0

10.0

In [ ]:
# 8.4  list형으로 형변환
# str → list로 변환
s = '10'
print(list(s))

name = 'licat'
print(list(name))

['1', '0']
['l', 'i', 'c', 'a', 't']

In [ ]:
# int → list로 변환
# 정수형은 list로 변환이 가능하지 않습니다.
n = 10
print(list(n)) # 출력: error

TypeError: ignored

In [ ]:
# 8.5  tuple형으로 형변환
# 다만 값의 변경이 불가 합니다.
name = 'licat'
tuple(name)

('l', 'i', 'c', 'a', 't')

In [ ]:
# 8.6 dict형으로 형변환
# 딕셔너리 자료형은 key와 value로 이뤄진 쌍입니다.
# 따라서 쌍이 없는 일반 문자열은 변환이 되지 않습니다.
name = 'licat' # Error
dict(name)

ValueError: ignored

In [ ]:
# 위는 잘못된 예시
# 리스트 안에 튜플로 그 쌍을 맞추었습니다.
data = [('name','licat'),('age',10)]
d = dict(data)
d

{'name': 'licat', 'age': 10}

In [ ]:
# 8.7 set형으로 형변환
# set은 중복을 허락하지 않는 자료형
s = 'weniv CEO licat'
print(set(s)) #중복을 허락하지 않고 순서가 없습니다.
print(len(set(s))) #중복을 제거한 상태로의 길이를 알려줍니다.
print(len(s))

{' ', 'e', 'E', 'i', 'v', 'l', 'O', 'w', 'C', 't', 'a', 'c', 'n'}
13
15

# 9. 나아가기

In [ ]:
# 9.1 문자열에 닷(.)이 포함되어 있으면 정수로 변환되지 않습니다.
x = 1.0
x = str(x)
print(int(x))

ValueError: ignored

In [ ]:
# 위의 잘못된 코드를 고치기 위해 조건을 만들어 형변환을 하자
x = 1.0
x = str(x)
if x.find('.') == -1:
    print(int(x))
else:
    print(float(x))

1.0

In [ ]:
# float형으로 먼저 변환하고 int형으로 변환
x = 1.0
x = str(x)
int(float(x))

1

In [ ]:
# map
# int 를 각 리스트에 적용하라

list(map(int, ['10', '20', '30'])) # 출력: [10, 20, 30]

[10, 20, 30]

In [ ]:
list(map(int, '12345')) # 출력: [1, 2, 3, 4, 5]ㄴ

[1, 2, 3, 4, 5]