# datetime 알고가자

In [ ]:
import datetime

current_datetime = datetime.datetime.now()
print("현재 날짜와 시간:", current_datetime)

현재 날짜와 시간: 2024-01-16 02:34:52.309092

In [ ]:
import datetime

specific_datetime = datetime.datetime(2022, 5, 15, 8, 30, 45)
print("지정된 날짜와 시간:", specific_datetime)

지정된 날짜와 시간: 2022-05-15 08:30:45

In [ ]:
import datetime

current_datetime = datetime.datetime.now()
formatted_datetime = current_datetime.strftime("%Y년 %m월 %d일 %H시 %M분 %S초")
print("형식화된 날짜와 시간:", formatted_datetime)

형식화된 날짜와 시간: 2024년 01월 16일 02시 35분 27초

In [ ]:
import datetime

today = datetime.datetime.now().weekday()
if today >= 5:  # 5와 6은 토요일과 일요일
    print("오늘은 주말입니다.")
else:
    print("오늘은 평일입니다.")

오늘은 평일입니다.

# 메서드 체이닝

In [ ]:
# 매우중요!
# 꼭 복습하기
'Hello World'.replace('Hello', 'hi').lower()
# 그 메서드에 리턴된 값이 순차적으로 해소가 되는 방식

#'hello world'.a().b().c().d()
# 'Hello World'.split().lower() #error!!
'Hello World'.split()[0].lower()

'hello'

In [ ]:
'hello world'.replace('hello', 'hi')
'hello world'.replace('hello', 'hi').upper()
'hello world'.replace('hello', 'hi').upper().replace('HI', 'HELLOW')
# 'hello world'.replace('hello', 'hi').upper().append() #error

'HELLOW WORLD'

In [ ]:
class Calculator:
    def __init__(self, value):
        self.value = value

    def add(self, other):
        self.value += other
        return self

    def subtract(self, other):
        self.value -= other
        return self

    def multiply(self, other):
        self.value *= other
        return self

    def get_value(self):
        return self.value  # 다른 return 값이 모두 self 인데 이것만 self.value , value 값을 반환하는 함수

calc = Calculator(1)
result = calc.add(2).subtract(1).multiply(3).get_value()
print(result)  # 결과: 6

6

In [ ]:
# int
# float
# complex
a = 3
b = 3.5
c = 3j + 1

dir(a)
dir(b)
dir(c)

# 'imag' # 허수부
# 'real' # 실수부

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'conjugate',
 'imag',
 'real']

# 일급함수와 고차함수

# 함수를 변수에 할당할 수 있습니다.

- 함수를 변수(값)취급 하는 것을 일급함수라고 합니다.

In [ ]:
# 일급 함수는 함수를 값으로 취급하는 것을 애기합니다.

def greet(name):
    return f'Hello, {name}'

say_hello = greet
print(say_hello("World"))  # 출력: Hello, World

Hello, World

In [ ]:
# print 를 licat이라고 하고 사용할 수 있다.
licat = print
licat('hello world') # 출력: hello world

In [ ]:
class Cat:
    def sound(self):
        print('냐옹')

licat = Cat()
licat_sound = licat.sound
licat_sound() # 출력: 냐옹, licat.sound()

냐옹

In [ ]:
# append 를 부르기 귀찮아 add로 바꿔서 부르겠다. (변수 이름이 너무 길때 사용한다.)
l = [10, 20, 30]
# l.append(100)
add = l.append
add(10)
add(20)
l

[10, 20, 30, 10, 20]

In [ ]:
# 위와 같은 화살표 입니다.
a = 10
b = a
c = b

# 함수를 데이터 구조에 저장할 수 있습니다.

In [ ]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

funcs = [add, subtract]
print(funcs[0](2, 3))  # 출력: 5

5

In [ ]:
class Operator:
    def add(self, x, y):
        return x + y

    def sub(self, x, y):
        return x - y

    def mul(self, x, y):
        return x * y

    def div(self, x, y):
        return x / y

    def _and(self, x, y):
        pass

    def _or(self, x, y):
        pass

op = Operator()
logical_op = {
    'add': op.add,
    'sub': op.sub,
    'mul': op.mul,
    'div': op.div,
}
arithmetic_op = {
    '_and': op._and,
    '_or': op._or,
}

print(logical_op['add'](2, 3)) # 출력: 5 마치 op.add(2, 3)인 것 처럼 사용할 수 있습니다.
print(op.add(2, 3)) # 출력: 5

for _, f in logical_op.items():
    print(f(2, 3)) # 4칙연산 모두 계산

5
5
5
-1
6
0.6666666666666666

In [ ]:
def add(a, b):
    return a + b

add(2, 3)

5

# 함수를 인자로 다른 함수에 전달할 수 있습니다.

In [ ]:
# 데코레이터를 이해하기 위해 중요한 개념입니다.

def add(a, b):
    return a + b

def say_hello(name):
    return f'Hello, {name}'

def greet(func, name):
    return func(name)

print(greet(say_hello, 'World'))  # 출력: Hello, World
# greet함수에 say_hello 함수가 들어오는 중 func 는 say_hello say_hello에 name이 들어온다.

Hello, World

In [ ]:
# 원의 넓이구하기
def square(x):
    return x ** 2

def width_circle(r, s):
    return s(r) * 3.14

width_circle(10, square)

314.0

# 함수를 결과로서 반환할 수 있습니다.

In [ ]:
# 함수를 리턴할 수 있다! (데코레이터에 핵심 개념)
# 중요한 개념: x라는 변수가 함수가 끝났는데도 불구하고 살아있다? 클로져!
def create_adder(x):
    def adder(y):
        return x + y
    return adder

add_5 = create_adder(5)
print(add_5(10))  # 출력: 15

15

In [ ]:
# 밖에서 함수 안에 있는 값을 참조 못합니다.
def f():
    x = 10
    y = 20
    return x + y

f()
x

100

In [ ]:
# 안에서는 밖에 있는 값을 참조할 수 있습니다.
one = 100
def f():
    x = one + 10
    y = 20
    return x + y

f()
x

100

In [ ]:
x = 100
def one():
    def two():
        x = 10
        def three():
            print(x)
        three()
    two()
one()

10

In [ ]:
def create_sq(x):
    def sq(y):
        return x ** y
    return sq

제곱2 = create_sq(2)  # x를 변경 불가능하게 감추기 위한 코딩 기법
제곱3 = create_sq(3)
제곱4 = create_sq(4)

제곱2(2), 제곱2(3), 제곱2(4)
제곱3(2), 제곱3(3), 제곱3(4)
제곱4(2), 제곱4(3), 제곱4(4)

(16, 64, 256)

# 고차함수

In [51]:
def apply_function(func, x):
    return func(x)

def square(x):
    return x * x

def cube(x):
    return x * x * x

# 사용 예:
result = apply_function(square, 5)
print(result)  # 출력: 25

result = apply_function(cube, 5)
print(result)  # 출력: 125

25
125

In [52]:
def get_math_function(operation):
    '''지정된 연산을 수행하는 함수를 반환합니다.'''

    def add(x, y):
        return x + y

    def sub(x, y):
        return x - y

    def mul(x, y):
        return x * y

    if operation == 'add':
        return add
    elif operation == 'sub':
        return sub
    elif operation == 'mul':
        return mul

# 사용 예:
# get_math_function 함수에 'add' 문자열을 전달하여 add 함수를 얻습니다.
add_func = get_math_function('add')
result = add_func(5, 3)  # add 함수에 5와 3을 전달하여 결과를 얻습니다.
print(result)  # 출력: 8

8

# 여러개의 값 반환

In [ ]:
def add_and_subtract(x, y):
    addition = x + y
    subtraction = x - y
    return addition, subtraction

# 함수 호출
result = add_and_subtract(5, 3)

# 결과 출력
print(result)  # 출력: (8, 2)
a, s = result
s

(8, 2)

2

# 재귀함수

In [ ]:
# 내가 나를 호출하는 함수
# 재귀는 내가 정말 자신있다가 아니면 반복문을 사용하자
# 재귀를 억지로 사용하지 말자
# 잘못 사용하면 비효율의 끝판왕

In [ ]:
# 주의! 실행하지 마세요!  무한반복 !!
def 숫자출력():
    print(1)
    return 숫자출력() # 내가 나를 호출하는 것

In [ ]:
def 숫자출력(count):
    if count > 100:
        return
    print(count)
    return 숫자출력(count+1) #값을 1부터 반복횟수 까지의 값을 출력

숫자출력(1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
# f(5) > 5 * 4 * 3 * 2 * 1 == 120 == 5! (수학 공식으로는 5팩토리얼)
def f(n):
    if n <= 1:
        return n
    return n * f(n-1)

f(5)

# step1                         # step2
# factorial(5) = 5 * factorial(4) = 5 * 24 = 120
# factorial(4) = 4 * factorial(3) = 4 * 6 = 24
# factorial(3) = 3 * factorial(2) = 3 * 2 = 6
# factorial(2) = 2 * factorial(1) = 2 * 1 = 2
# factorial(1) = 1

120

In [ ]:
# 권장합니다!
for i in range(1, 101):
    print(i)

In [ ]:
# 이런 코드를 연습해봄으로 재귀에 친숙해질 수 있습니다.
# 분할 정복, 다이나믹 프로그래밍
# f(5) => 5 * 4 * 3 * 2 * 1 == 120 == 5! (수학 공식으로는 5!로 표현합니다.)

def f(n):
    if n <= 1:
        return n
    return n * f(n-1)

f(5)

120

In [ ]:
# 권장합니다!
result = 1
for i in range(1, 6):
    result *= i
result

120

In [ ]:
# 설명
def f(n):
    if n <= 1:
        return n
    return n * f(n-1)

# f(5)        5 * f(4) == 5 * 24 => 120
# f(4)        4 * f(3) == 4 * 6
# f(3)        3 * f(2) == 3 * 2
# f(2)        2 * f(1) == 2 * 1
# f(1)        1

In [ ]:
'hello'[::-1]

'olleh'

In [ ]:
s = ''
for i in 'hello':
    s = s + i

s

'hello'

In [ ]:
s = ''
for i in 'hello':
    s = i + s

s

# s = 'h' + ''
# s = 'e' + 'h'
# s = 'l' + 'eh'
# s = 'l' + 'leh'
# s = 'o' + 'lleh'
# => 'olleh'

'olleh'

In [ ]:
def f(s):
    if len(s) <= 1:
        return s
    return s[0] + f(s[1:])

f('hello')

'hello'

In [ ]:
def f(s):
    if len(s) <= 1:
        return s
    return f(s[1:]) + s[0]

f('hello')
# step1                                # step2
# 거꾸로('hello') = 거꾸로('ello') + 'h' = 'olle' + 'h'
# 거꾸로('ello')  = 거꾸로('llo') + 'e'  = 'oll' + 'e'
# 거꾸로('llo')   = 거꾸로('lo') + 'l'   = 'ol' + 'l'
# 거꾸로('lo')    = 거꾸로('o') + 'l'    = 'o' + 'l'
# 거꾸로('o')     = 'o'                  = 'o'

'olleh'