# 문제 1: 함수를 인자로 받는 고차함수
- 주어진 리스트와 함수를 인자로 받아, 리스트의 각 요소에 해당 함수를 적용한 결과를 반환하는 고차함수 apply_function을 작성해주세요.

In [ ]:
# 문제 1번
def apply_function(lst, func):
    pass

# 예제 사용
result = apply_function([1, 2, 3, 4], lambda x: x * 2)  # (순회가능한 객체 , 함수)
print(result)  # [2, 4, 6, 8]이 출력되어야 함

In [ ]:
# 문제 1번 정답
def apply_function(lst, func):
    return list(map(func, lst))



# 예제 사용
result = apply_function([1, 2, 3, 4], lambda x: x * 2)
print(result)

[2, 4, 6, 8]

In [4]:
# 문제 1번 다른 풀이
# 1.2 쉬운풀이
def apply_function(lst, func):
    l = []
    for i in lst:
        l.append(func(i))
    return l

# 예제 사용
result = apply_function([1, 2, 3, 4], lambda x: x * 2)
print(result)  # [2, 4, 6, 8]이 출력되어야 함

[2, 4, 6, 8]

In [3]:
# 1.3 다른 풀이
# 1.3
def apply_function(lst, func):
    return [func(i) for i in lst]

# 예제 사용
result = apply_function([1, 2, 3, 4], lambda x: x * 2)
print(result)  # [2, 4, 6, 8]이 출력되어야 함

[2, 4, 6, 8]

# 문제 2: 함수를 반환하는 고차함수
- 정수 n을 인자로 받아, 다른 정수 x에 n을 곱하는 함수를 반환하는 고차함수 multiply_by_n을 작성해주세요. 힌트를 드리자면 반환 값은 lambda여야 합니다.

In [ ]:
# 문제 2번
def multiply_by_n(n):
    pass

# 예제 사용
multiplier = multiply_by_n(5)
print(multiplier(3))  # 15가 출력되어야 함

In [ ]:
# 문제 2번 정답
def multiply_by_n(n):
    return lambda x: x * n

# 예제 사용
multiplier = multiply_by_n(5)
print(multiplier(3))  # 15가 출력되어야 함

15

In [5]:
# 문제 2번 풀이
def multiply_by_n(n):
    def f(x):
        return x * n
    return f

# 예제 사용
multiplier = multiply_by_n(5)
print(multiplier(3))  # 15가 출력되어야 함

15