In [19]:
a = 10
b = a
c = b

print(c)

a = 10
b = a
c = b
a = 20
print(c)

a = 10
b = a

print(id(a))
print(id(b))

10
10
138031407546896
138031407546896

In [22]:
# -5 ~ 256은 같다.
# 변수들이 값을 가리킴. id()로 확인
a = 10
b = 10

print(id(a))
print(id(b))
print(a is b)

a = 257
b = 257

print(id(a))
print(id(b))
print(a is b)

138031407546896
138031407546896
True
138030140499440
138030140504784
False

In [1]:
0.1 + 0.2 # 0.1이 2진수로 표현했을 때 무한 소수입니다.

0.30000000000000004

In [6]:
# 회색 줄은 영문자 80자 (79자 까지 쓰자), 한글은 32자
# PEP8, PEP20
# 줄이 너무 길면 가독성이 떨어집니다.
# Python 잘 하시는 분 보면 모든걸 한 줄로 할려고 하는 분 > 안좋은 습관이다.
print('hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world')

# 해결책 1: 역슬러시 넣는 방법 (권고하지 않는다. 이스케이 문자랑 혼동 될 수 있다.)
print('hello worldhello worldhello worldhello worldhello worldhello worldhello \
worldhello worldhello world')
print('hello world \n hello world')

# 해결책 2: 콤마를 찍지 않은 연결
print('hello world' 'hello world')
print('hello world'
      'hello world')

hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world
hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world
hello world
 hello world
hello worldhello world
hello worldhello world

In [11]:
# 질문: 메서드 체인으로 길어지면 어떻게 하나요?
# 답: 메서드 체인으로 80자 이상이면 이미 가독성에 문제가 있는 것입니다.
# 메서드 체이닝을 3개 이상을 하길 권하지 않습니다.(가독성이 악화됩니다.)

# 문제 있는 코드
'hello world'.upper().split(' ').pop().lower() # 이렇게 코딩하시면 제가 Reject합니다.

# 문제가 덜한 코드
대문자 = 'hello world'.upper()
잘린대문자 = 대문자.split(' ')

# 허용함
'hello world'.upper()\
    .split(' ')\
    .pop()\
    .lower()

# 허용함
'hello world'.upper()   .split(' ')   .pop()   .lower()

# 허용하지 않음(\n)
# 'hello world'.upper()
#     .split(' ')
#     .pop()
#     .lower()

# 허용하지 않음(\n)
# 'hello world'.upper()
# .split(' ')
# .pop()
# .lower()

'world'

In [16]:
# 문자열 메서드
dir('hello world') # 메서드, 매직메서드, (클래스 변수, 인스턴스 변수)

# 문제1: find와 index 차이
# 실무에서 사용하는 코드:

if 'hello world'.find('hi'):  # 실무에서 자주 나오는 오류!: 큰일난다.
    print('찾았다!')          # find 주의 요망

# 문제2: isdigit의 정체   (전부 숫자인지 확인)
'123'.isdigit()        # True
'12h3'.isdigit()       # False

# 문제3: replace가 어디까지 변환하는지?
'hello world hello world'.replace('hello', 'hi') # 모두 다 변환이 됩니다. 몇 개만 변환이 되는 것이 아닙니다.
# 알아두셔야 할 사항: replace는 정규표현식이 안됩니다.!
# replace를 정규표현식을 사용하고 싶으면 re.sub을 사용해야 합니다.

# 문제4: strip(공백제거)

# 문제5: zfill(앞에 0으로 채워주는 것, 원하는 자릿수만큼, 시간이나 연도) zero fill

찾았다!

'hi world hi world'

# 리스트
* 변경이 가능한 자료형
* 순서가 있는 자료형(시퀀스형 자료형, 인덱싱, 슬라이싱)

In [18]:
I =[10, 20, 30]

# 라인 수가 길어졌을 떄에는 이렇게 사용하시리 권합니다.
# 권고1
I =[10,
    20,
    30] # 됩니다.

# 권고2 (이렇게 실무에서 더 많이 사용합니다.)
I = [
    10,
    20,
    30,
]

# 문제가 있습니다! 통신을 할 때에는 JSON이라는 형식을 사용하게 되는데
# JSON은 마지막에 콤마를 허용하지 않습니다!

# why? 문제가 있는 2번이 더 많이 사용되는 이유?
# 실무에서는 콤마를 버전업으로 인식하는 경우도 많고,
# 콤마를 빼먹는 경우가 많습니다.
# 편의성: Ctrl + C, Ctrl + V하기가 편합니다.
# 자동 변환 SW를 사용합니다. (python black formatter) => 권고!!!

In [24]:
l = [10, 20,30]
l[2]

30

In [25]:
#str은 안됩니다!
s = 'hello world'
s[0] = 'y'

TypeError: 'str' object does not support item assignment

In [30]:
# 바꾸고 싶다면
s = 'hello world'
ss = s.replace('h', 'y')  # 할당을 해줘야한다.
print(ss)

s = 'y' + s[1:]
print(s)

yello world
yello world

In [39]:
l = [10, 20, 30, 40, 50]
l[-1]
l[-2:] # 마이너스 인덱싱, 마이너스 슬라이싱은 최종저긍로 양수로 치환됩니다.
l[3:]
# 변수명[stop]
# 변수명[start:stop]
# 변수명[start:stop:step]

[40, 50]

In [40]:
type(l), dir(l) # type은 검색 키워드, GPT 질문 키워드가 될 수 있습니다.
# dir 은 대략적인 속성을 알 수 있습니다.

(list,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__delitem__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__gt__',
  '__hash__',
  '__iadd__',
  '__imul__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__reversed__',
  '__rmul__',
  '__setattr__',
  '__setitem__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'append',
  'clear',
  'copy',
  'count',
  'extend',
  'index',
  'insert',
  'pop',
  'remove',
  'reverse',
  'sort'])

In [48]:
# __add__가 있으니 더하기는 어디까지 될까? >> 테스트
# __mul__가 있으니 곱하기는 어디까지 될까? >> 테스트

l =[10, 20, 30]
#l + 100  정수 더하기는 안됩니다!
l + [100]
l + [100, 200]
l * 3 # 정수 곱하기는 됩니다.
# l * [1, 2] # 리스트 곱하기는 안됩니다.

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [52]:
# 리스트 곱하기는 매우 주의해야 합ㅈ니다!
# 곱하기가 2중으로 있을 때에는 나중에 배울 리스트컴프리헨션 사용해주세요!
ㅣ = [[1, 2, 3] * 3] * 2
ㅣ[1][0] = 1000  # 곱하기 같은 곳을 배경으로 하고 있기에 같이 바뀐다
ㅣ

[[1000, 2, 3, 1, 2, 3, 1, 2, 3], [1000, 2, 3, 1, 2, 3, 1, 2, 3]]

In [53]:
ㅣ[1][1] = 10000
ㅣ

[[1000, 10000, 3, 1, 2, 3, 1, 2, 3], [1000, 10000, 3, 1, 2, 3, 1, 2, 3]]

In [54]:
# 암기해주세요.

x = 10 # 스칼라
x = [10] # 벡터
x = [10, 20] # 벡터
x = [[10, 20], [10, 20]] # 메트릭스(행렬)
x = [[[10, 20], [10, 20]],[[10, 20], [10, 20]]] # 텐서(3차원 이상 행렬)

In [56]:
a = 10
b = 10.1
c = 10 + 2j
type(a)
type(b)
type(c)
print(dir(a),dir(b),dir(c))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes'] ['__abs__', '__add__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__setformat__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real'] ['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'conjugate', 'imag', 'real']

In [62]:
# 텐서플로? goolge에서 만든 딥러닝 라이브러리
# 인공지능 => 행렬의 연산

In [65]:
x = [[1, 2], [3, 4], [5, 6]]

# 4를 출력하고 싶으면
x[1][1]

4

In [70]:
x = [[1, 2], [3, 'hello world'], [5, 6]]

# world 만 출력하고 싶다면
# Ctrl + Alt + 화살표 위나 아래, `print(` 입력했고, end 버튼 눌렀고, `)` 입력했습니다.
print(x[1])
print(x[1][1])
print(x[1][1][6:])

[3, 'hello world']
hello world
world

In [72]:
x =10

# 아래 2개가 다르다.
# print 를 하는 것과 맨 마지막 출력하는 것은 다릅니다!
print(x) # __str__
x        # __repr__

10

10

In [82]:
# Python > 자료형 > list > 메서드
l = [10, 20, 30]
dir(l)

# Shift + Tab
# Ctrl + [ , Ctrl + ]
'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'

'sort'

In [83]:
# 뒤에다 추가
l.append(100)
l

[10, 20, 30, 100]

In [84]:
# 앞에다 넣는 방법1
l = [100] + l

# 앞에다 넣는 방법2
x = 100000
l = [x] + l[:]

# 앞에다 넣는 방법3
l.insert(0, 999)
l

[999, 100000, 100, 10, 20, 30, 100]

In [86]:
# 마지막을 값을 뺸다.
l = [10, 20, 30, 40]
l.pop()
l

[10, 20, 30]

In [87]:
# pop(0) 앞에서 값을 뺸다.
l = [10, 20, 30, 40]
l.pop(0)
l

[20, 30, 40]

In [89]:
ㅣ= [10, 20, 30, 40]
ㅣ[:-1]  # ㅣ = ㅣ[:-1]
ㅣ[1:]   # ㅣ = ㅣ[1:]

[20, 30, 40]

In [94]:
l = [10, 20, 30, 40]
l.index(20)

1

In [95]:
# keep
# index가 에러가 납니다. error 없이 코드를 짜고 싶어요.
# 마치 str에 find 처럼 코드를 짜고 싶을 때?
# 슬라이싱을 사용합니다 > 슬라이싱은 index 가 벗어나더라도 에러가 나지 않습니다.

l = [10, 20, 30, 40]
l[100:101]

[]

In [96]:
# 다 지워준다.
l = [10, 20, 30, 40]
l.clear()
l

[]

In [98]:
l = [10, 20, 30, 40]
ll = l

l[0] = 1000   # l 을 수정해도 ll 도 바뀐다.
ll

id(l), id(ll)
l is ll

True

In [99]:
l = [10, 20, 30, 40]
ll = l.copy() # 얕은 복사와 깊은 복사가 있는데 이 개념은 뒤에서 알려드립니다.

l[0] = 1000
ll

id(l), id(ll)    # copy는 다르다.
l is ll

False

In [100]:
l = [10, 20, 30, 40]
ll = l[:]   # 이렇게 해도 다르다

l[0] = 1000
l, ll

([1000, 20, 30, 40], [10, 20, 30, 40])

In [103]:
l = ['1', '1', 1, 2, 2, 2, 2, 3, 3]
l.count(1)        # 문자열 숫자는 세어지지 않는다 헷갈리지 말자

1

In [105]:
# str 게수를 세알릴 때 count 활용
str([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]).count('1')

8

In [106]:
# 분위기 환기차 해드리는 것입니다.
# 이해하지 못하셔도 괜찮습니다.
# https://codingdojang.com/scode/393?answer_mode=hide
str([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]).count('1')
# str(1부터_10000까지_리스트).count('8')
list(range(10))
str(list(range(20)))
str(list(range(20))).count('8')

2

In [110]:
l = [10, 20, 30, 40]
l.append([50, 60])  # 리스트 하나로 들어간다.
l

[10, 20, 30, 40, [50, 60]]

In [112]:
l = [10, 20, 30, 40]
l.extend([50, 60]) # extend(보통리스트), extend(순회가능한객체)
l

[10, 20, 30, 40, 50, 60]

In [114]:
l = [10, 20, 30, 40]
l.extend('hello') # extend(보통리스트), extend(순회가능한객체)
l

[10, 20, 30, 40, 'h', 'e', 'l', 'l', 'o']

In [115]:
l = [1, 1, 1, 1, 2, 2, 3, 3, 3]
l.remove(1)   # ()안 객체인 것 중에 가장 첫 번째 값을 없앰
l            # 한 가지 요소를 지울 때 사용

[1, 1, 1, 2, 2, 3, 3, 3]

In [117]:
# 이해하지 않으셔도 됩니다.
# 여기서 catch해야할 포인트는 모든 요소를 filltering하고 싶을 때에는
# remove가 아니라 filter라는 것을 사용한다!
# filter
def f(x):
    return x != 1
l = [1, 1, 1, 1, 2, 2, 3, 3, 3]
list(filter(f, l))

[2, 2, 3, 3, 3]

In [118]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.reverse()
l # 연순이지 역 정렬은 아닙니다. # 원본이 변합니다.(입력된 원본은 대부분 보존할려고 노력한다.)
# 역순은 단순히 순서를 뒤집는 것이고
# 역정렬은 정렬의 역순입니다.

[7, 6, 5, 9, 4, 3, 2, 1]

In [121]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
list(reversed(l))   # reversed 는 원본을 변경하지 않습니다.

[7, 6, 5, 9, 4, 3, 2, 1]

In [122]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.sort()
l # 원본을 바꾸는 정렬

[1, 2, 3, 4, 5, 6, 7, 9]

In [123]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.sort()
l.reverse()
l # 원본을 바꾸는 역정렬

[9, 7, 6, 5, 4, 3, 2, 1]

In [124]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
sorted(l) # sorted 원본을 변경하지 않습니다 (정렬)

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
# sort, sorted, reverse, reversed 알거리즘 문제에서도 1개 문제는 거의 나온다
# 옵션 값은 하지 않았습니다.
# 옵션 값을 하지 않은 이유 : 함수까지 배워야 좀 더 고급 문법이 가능하다.

In [127]:
# 어떻게 사용되는지만 체크!
# 국어 점수가 가장 높은 순으로 정렬해주세요.
# 국, 영, 수, 이름
s = [[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

def f(x):
    return x[0]           # x[0] 국어, x[1] 영어, x[2] 수학, x[3] 이름
sorted(s, key=f, reverse=True) #key 에 함수를 넣어주고 reverse 사용해서 역순 높은수가 앞으로

[[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

In [128]:
# 평균점수
s = [[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

def f(x):
    return x[0] + x[1] + x[2]         # x[0] 국어, x[1] 영어, x[2] 수학, x[3] 이름
sorted(s, key=f, reverse=True) #key 에 함수를 넣어주고 reverse 사용해서 역순 높은수가 앞으로

[[100, 87, 91, '이호준'], [33, 86, 100, '홍길동'], [56, 38, 89, '이준호']]

# 튜플
* 순서가 있는 자료형입니다. (인덱싱, 슬라이싱)
* 참조 변경 불가.(값이 변경이 불가하다고 애기하면 틀린 이야기)

In [129]:
t = (10, 20, 30) # 소괄호
t[0]

10

In [130]:
t[1:]

(20, 30)

In [ ]:
# 변경불가
t[0] = 1000

In [134]:
# 1번째 왜 이런 자료형이 필요할까요?
# * 권한과 변경불가(시큐어 코딩), 형태 고정인 자료형(딕셔너리와 같은 것)
# * 내부자 소행인 경우가 가장 많습니다.(사회공학 해킹)

# 2번째 변경이 불가능한데 왜 '값이 변경이 불가하다고 애기하면 이것은 틀린 애기입니다'라고 할까요
a = [10, 20, 30]
b = (a, 100, 200)
b

([10, 20, 30], 100, 200)

In [135]:
a[0] = 1000
b

([1000, 20, 30], 100, 200)

In [133]:
# 길이는 가변이고, 형태는 고정
{'one': 1, 'two': 2}.items()

dict_items([('one', 1), ('two', 2)])

In [136]:
t = (10, 20, 30)
dir(t)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [138]:
t.count(10) # 10의 갯수를 반환
t.index(10) # 10의 위치를 반환

0

In [139]:
tuple([10, 20, 30])

(10, 20, 30)

In [ ]:
# tuple(순회가능한객체)
# list(순회가능한객체)

tuple('hello world')
list('hello world')

# 딕셔너리

* 순서가 있는 자료형

* Python 3.6 버전 이상은 순서가 보장됩니다.
* 실무에서 Python 버전은 생각보다 낮습니다. 이점 주의해주세요.    요기요 > Django 1.x
* 'key: value' 쌍으로 이뤄져 있습니다.
* 딕셔너리 데이터 검색은 매우 빠릅니다.
* 딕셔너리 사용은 주의를 요합니다. 딕셔너리는 key가 없는 것을 호출하면 error가 납니다.

In [140]:
d = {'one': '하나', 'two': '둘'}
d['one']

'하나'

In [141]:
# 없으니까 에러난다. > 견고하지가 않다 (어떤 상황에서도 에러가 안난다.)
d['three']

KeyError: 'three'

In [144]:
d.get('three', '없는 값입니다!') # get 메서드를 사용하길 권합니다.

'없는 값입니다!'

In [147]:
# 실무에서 사용하는 코드형태

def f(x):
    return{
        0: '일요일',
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일',
    }.get(x, '요일없음')
f(5)

'금요일'

In [148]:
# 함수 안쓰고

x = 3

{
    0: '일요일',
    1: '월요일',
    2: '화요일',
    3: '수요일',
    4: '목요일',
    5: '금요일',
    6: '토요일',   # 마지막, 문제가 있다는 걸 알고 있어라
}.get(x, '요일없음')

'수요일'

In [149]:
# match 문법이 나오기 전까지 많이 사용했었다.
# 지금도 많이 사용됨

x = 3

y = {
    0: '일요일',
    1: '월요일',
    2: '화요일',
    3: '수요일',
    4: '목요일',
    5: '금요일',
    6: '토요일',   # 마지막, 문제가 있다는 걸 알고 있어라
}

y.get(x, '요일없음')

'수요일'

In [150]:
!python --version

Python 3.10.12

In [151]:
type(d)
dir(d)   # add 가 없네 더하기가 안되네

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
'clear',
'copy',
'fromkeys',
'get',
'items',
'keys',
'pop',
'popitem',
'setdefault',
'update',
'values'

In [ ]:
# 실제로 이와 같은 key: value의 쌍을 게시물 저장하는 형태 등으로 사용합니다.

게시물1 = {
    'tutle': '파이썬이 이렇게 어려울 줄이야!!?',
    'contents': '파이썬을 깊게 알아갈 수록 너무 재미있네요!!! 신기합니다!!',
    'author': '진성현',
    'image': '/seonghyeon/2024/01/05/python.jpg',
}

In [152]:
d = {'one': '하나', 'two':'둘'}

In [154]:
d = {'one': '하나', 'two':'둘'}
dd = d   # 변경이 된다.

id(dd), id(d)  # id 찍어봐서 확인하자.
dd is d

d['one'] = 'python'
d['two'] = 'html'

d, dd

({'one': 'python', 'two': 'html'}, {'one': 'python', 'two': 'html'})

In [155]:
d = {'one': '하나', 'two':'둘'}
dd = d.copy()   # 변경이 안된다.

d['one'] = 'python'
d['two'] = 'html'

dd

{'one': '하나', 'two': '둘'}

In [157]:
# 잘 안씀
# 각 각의 값이 None 으로 들어옴
d = {'one','two,', 'three'}
dict.fromkeys(d)
dict.fromkeys(d, 'hello world')  # None 을 원하는 문구로 바꿈

{'one': 'hello world', 'two,': 'hello world', 'three': 'hello world'}

In [159]:
# 매우 매우 자주 사용한다.
d = {'one': '하나', 'two':'둘'}
d.get('one')
d.get('three', '값 없음!')

'값 없음!'

In [160]:
d = {'one': '하나', 'two':'둘'}
d.items()

dict_items([('one', '하나'), ('two', '둘')])

In [161]:
d = {'one': '하나', 'two':'둘'}
type(d.items())

dict_items

In [162]:
d = {'one': '하나', 'two':'둘'}

# 인덱싱이 안되니까 슬라이싱이 안됨
d.items()[0]  # error
d.items()[1:] # error

TypeError: 'dict_items' object is not subscriptable

In [165]:
a, b = d.items() # 언패킹
a
b

('two', '둘')

In [167]:
a, b = [10, 20] # 패킹
a

10

In [168]:
# keep만 해두세요. 반복문을 안배웠습니다.
for i, j in d.items():
    print(i, j)

one 하나
two 둘

In [170]:
d.keys()  # key값만 나온다
d.values() # values값만 나온다

dict_values(['하나', '둘'])

In [174]:
d = {'one': '하나', 'two':'둘'}
d.setdefault('one')
d.setdefault('three')  # 없는 값을 setdefault해주면 None 값으로 생겨버림
d.setdefault('four', 4) # 있으면 그 값을 출력하고, 없으면 그 값을 d에 삽입하고 4를 출력해줘
d

{'one': '하나', 'two': '둘', 'three': None, 'four': 4}

In [180]:
d = {'one': '하나', 'two':'둘'}
d.pop('one')
d

{'two': '둘'}

In [ ]:
d = {'one': '하나', 'two':'둘'}
d.pop() # error
d.pop('three') # error

In [178]:
d = {'one': '하나', 'two':'둘'}
d.popitem() # 없는 코드를 많이 보게 되실겁니다.

('two', '둘')

In [182]:
d = {'one': '하나', 'two':'둘'}
d.update({'one': 'python', 'three': 'hello'})   # one은 수정이 되었고 three는 생성이 되었습니다.
d

{'one': 'python', 'two': '둘', 'three': 'hello'}

In [185]:
# 신규문법!! (python 3.9)

d = {'one': '하나', 'two':'둘'}
dd = {'three': '셋'}

#d + dd      안된다 막혀있다.
d | dd       # 더하기를 | 문법ㅇ로 해놨다.   책사서 봐도 안나온다.

{'one': '하나', 'two': '둘', 'three': '셋'}

In [186]:
d = {'one': '하나', 'two':'둘'}
dd = {'one': 'python', 'three': '셋'}
d | dd              # one 은 수정되고 three 는 생성되었다.

{'one': 'python', 'two': '둘', 'three': '셋'}

# 셋

* 중복을 허락하지 않는 자료형입니다.
* 순서가 없는 자료형입니다.
* 집함(합집합, 차집합, 교집합)

In [189]:
s ={1, 2, 3, 4, 5}
ss = {3, 4, 5, 6, 7}

# 기억하자
#s + ss   # error
s | ss   # 합집합
s - ss   # 차집합
s & ss  # 교집합

{3, 4, 5}

In [ ]:
type(s),dir(s)   # __iter__ 가 있으면 for 문이 가능하고 순회, 반복 가능

In [191]:
s.add(10)
s

{1, 2, 3, 4, 5, 10}

In [197]:
s.union(ss) #합집합

{1, 2, 3, 4, 5, 6, 7, 10}

In [193]:
s.difference(ss) # 차집합

{1, 2, 10}

In [195]:
s.intersection(ss) # 교집합

{3, 4, 5}

In [198]:
# 중복을 제거하고 싶다
set('123123123')

{'1', '2', '3'}

In [199]:
# map 은 너무나 중요해서 반복해서 학습하자
# 중복을 제거한 값을 더하는 용도로 아래와 같이 사용
sum(map(int,set('123123123')))   # sum 다 더할건데 문자열 각각을 int 로 map을 이용해서 바꾼다.

6

In [200]:
map(int,set('123123123'))
# {'1', '2', '3'} => {1, 2, 3}

# sum

In [201]:
sum({10, 20, 30})
# sum(10, 20, 30)   error
# sum([[10, 20],[10, 20],[10, 20]]) error

60

In [203]:
# sum(순회가능한객체, 초깃값)
sum([[10, 20], [30, 40], [50, 60]],[])  # 평탄화 작업 1차원으로 풀기 위해서
# [] + [10, 20] == [10, 20]
# [10, 20] + [30, 40] == [10, 20, 30, 40]

[10, 20, 30, 40, 50, 60]

In [204]:
sum(sum([[10, 20], [30, 40], [50, 60]],[]))

210

# in

In [205]:
'h' in 'hello'

True

In [206]:
# 값을 확인하는 용도 in

x = 10
x in [10, 20, 30, 40, 50]

True

In [207]:
x = [10, 20, 30]
x in [[10, 20, 40], [10, 20, 30], [50, 40, 20]]

True

In [208]:
s = {1, 2, 3}
1 in  s

True

In [209]:
s = {1, 2, 3}
1 not in  s

False

# and, or, not 단락평가

In [210]:
1 and 100

100

In [212]:
user_id = ''

user_id = user_id or '아이디없음'
user_id

'아이디없음'

In [213]:
user_id = 'seonghyeon'

user_id = user_id or '아이디없음'
user_id

'seonghyeon'

In [214]:
# 단락평가로 앞에 False 가 있으면 뒤가 1/0 에러지만 볼 필요가 없다. 안본다.
False and 1/0

False