In [ ]:
# 다음 값은 어떤 값이 출력되는지 이유를 설명하세요.
'hello' and 1
10 or 'hello world'

In [ ]:
# 1번 정답
 1 'hello'(비어 있지 않은 문자열, 참)와 숫자 1(역시 참)이 모두 존재
 10  실제 값인 10과 문자열이 존재하기에 처음 존재하는 값 10 반환

In [ ]:
# 2.아래 dict에 'three' key를 이용하여 '3'라는 값을 출력해주세요. 없을 경우 애러가 나는 것이 아니라 '3'이라는 값을 출력해야 합니다.
d = {'one': 1, 'two': 2}

In [ ]:
#  2번 정답
d = {'one': 1, 'two': 2}
d.setdefault('three', 3)
d

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
# 3.다음 리스트에서 100은 어떻게 꺼낼 수 있나요?
l = [1, [10, 20], [3, [100, 200], 5]]

In [ ]:
# 3번 정답
l[2][1][0]

100

In [ ]:
# 4. 아래 숫자를 모두 더해주세요.
l = [[1, 2], [3, 4]]
l = sum(l,[])
result = sum(l)
result

10

In [ ]:
# 5. (난이도 있는 문제) filter를 사용하여 아래 리스트에서 짝수를 모두 더하는 코드를 작성해주세요.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
정답: 30

In [ ]:
# 5번 정답
def f(x):
    return x % 2 == 0

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(list(filter(f, l)))

30